{% extends "base.html" %}

{% block content %}
<h1>Measurement {{name}}</h1>

<h2>Principal components</h2>
<ul>
  <li>Number of points: {{ pca.n }}</li>
  <li>Strike and dip: {{ pca.strike_dip() }}</li>
  <li>Axes: {{ pca.singular_values}}
  <li>Errors: {{ pca.errors() }}</li>
  <li>Explained variance: {{ pca.explained_variance }}</li>
</ul>

<p>{{ aligned | figure }}</p>

<h3>Stereonet</h3>
<div class='stereonet' data-curves='{{ stereonet_data | json }}'>
</div>

<h3>Trend and plunge</h3>

<p>{{ linear_error | figure }}</p>

<p>{{ pca_ellipse | figure }}</p>

<h2>Linear fit</h2>
<ul>
  <li>Strike and dip: {{ regression.strike_dip() }}</li>
  <li>Errors: {{ regression.errors() }}</li>
</ul>

{% endblock %}

{% block scripts %}
<script>{% include "build/stereonet.js" %}</script>
{% endblock scripts %}

