/* Typography */

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
  font-weight: 300;
}

#wrap {
  width: 60em;
  max-width: 90%;
  margin: 2em auto;
  position: relative;
}

img {
  max-width: 100%;
  align: center;
}
