[submodule "docs/_build/html"]
	path = docs/_build/html
	url = git://github.com/davenquinn/Attitude.git
[submodule "frontend/packages/ui-components"]
	path = frontend/packages/ui-components
	url = git://github.com/UW-Macrostrat/ui-components.git
