/* Typography */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  font-weight: 300;
}
#wrap {
  width: 60em;
  max-width: 90%;
  margin: 2em auto;
  position: relative;
}
img {
  max-width: 100%;
  align: center;
}
svg path.sphere {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
svg path.graticule {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}
svg .dataFrame path.errors {
  fill: #aaa;
}
svg .dataFrame path.errors.main {
  fill: #800080;
}
svg .dataFrame path.nominal {
  fill: none;
  stroke: #b8b8b8;
  stroke-width: 2px;
}
svg .dataFrame path.nominal.main {
  stroke: #730073;
}

