.prompt
  display none

.figure
  padding 0.5em
  margin-bottom 1em
  background #eee

.descclassname
  color #666

.descname
  color #226
  font-weight bold

dt
  span, em
    color #484
    font-style normal
    font-family Consolas, monospace
